@charset "UTF-8";

body {
    background-color: rgb(17, 17, 17);
    text-align: center;
    font-family:sans-serif;
    font-size: 20px;
}
h1 {
    color: antiquewhite;
}
p {
    color: antiquewhite;
}