@charset "UTF-8";

@media screen and (min-width: 600px) {
    #menu {
        display: none;
    }
    header menu {
        display: block;
    }
    header a {
        display: inline-block;
    }
}

