@charset "UTF-8";

* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
    background-color: rgb(133, 205, 208);
}

header {
    background-color: teal;
    padding: 10px 0px 0px 0px;
}
header > h1 {
    text-align: center;
    margin: 30px 0px 20px;
    color: aliceblue;
}
header ul {
    list-style-type: none;
}
header a {
    background-color: rgb(1, 67, 67);
    padding: 10px;
    display: block;
    color: aliceblue;
    text-decoration: none;
    text-align: center;
    border-top: 1px solid teal;
}
header a:hover {
    background-color: rgb(0, 83, 83);
}
main h1 {
    padding: 0px 0px 10px;
}
main article {
    max-width: 600px;
    background-color: aliceblue;
    padding: 20px;
    margin: auto;
    text-align: justify;
    text-indent: 10px;
    border-radius: 10px;

}