@charset "UTF-8";

/*configurações globais: */
* {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

body {
    background-image: linear-gradient(to top, #966B68, #BA988A);
    background-attachment: fixed;
}

main {
    background-color: whitesmoke;
    border-radius: 3%;
    box-shadow: 5px 5px 15px #563d3c92;
    width: 700px;
    padding: 20px;
    margin: auto;
}

h1 {
    color: #6bc49f;
    text-align: center;
    text-shadow: 1px 1px 2px #3c6e59a9;
}

h2 {
    color: #517455;
}
