@charset "UTF-8";

body {
    font-family: sans-serif;
    background-image: linear-gradient(to top, rgb(143, 143, 249), rgb(14, 2, 86));
    background-attachment: fixed;
}
header {
    background-color: rgb(75, 90, 103);
    padding:10px;
    margin: 10px;
    box-shadow: inset 3px 4px 11px 0px rgba(0, 0, 0, 0.479);
    border-radius: 5px;
}
header > h1 {
    text-align: center;
    color: aliceblue;
}
nav {
    background-color: rgba(0, 0, 0, 0.316);
    padding: 5px;
    text-align: center;
    box-shadow: 3px 4px 11px 0px rgba(0, 0, 0, 0.479);
    border-radius: 5px;

}
nav > a {
    color: aliceblue;
    text-decoration: none;
    margin: 5px;
}
main {
    background-color: aliceblue;
    padding: 10px;
    margin: 10px;
    box-shadow: inset 3px 4px 11px 0px rgba(0, 0, 0, 0.479);
    border-radius: 5px;
}
section > h2 {
    text-align: center;
}
#noticias {
    background-color:  rgb(75, 90, 103);
    color: aliceblue;
    padding: 10px;
    box-shadow: 3px 4px 11px 0px rgba(0, 0, 0, 0.479);
    border-radius: 5px;
}
article > aside > p{
    background-color:  rgba(0, 0, 0, 0.316);
    padding: 5px;
    box-shadow: 3px 4px 11px 0px rgba(0, 0, 0, 0.479);
    border-radius: 5px;
}
footer {
    background-color: aliceblue;
    padding: 5px;
    margin: 10px;
    box-shadow: inset 3px 4px 11px 0px rgba(0, 0, 0, 0.479);
    border-radius: 5px;
}
footer > p {
    margin: 0px;
    text-align: center;
    font-weight: bold;
}