@charset "UTF-8";

body {
            background-color: aquamarine;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            font-size: 20px;
        }
        h1 {
            color: darkblue;
        }
        h2 {
            color: blueviolet;
        }