@charset "UTF-8";

/* todas as outras medias */

/* tipical device breakpoints:

    Mobile devices – 320px — 480px.
    iPads, Tablets – 481px — 768px.
    Small screens, laptops – 769px — 1024px.
    Desktops, large screens – 1025px — 1200px.
    Extra large screens, TV – 1201px, and more.

*/ 
@media print {
    body {
        background: black url(../imagens/back-print.jpg) center center no-repeat;
        background-size: cover;
    }
    #print {
        display:block;
    }
    #phone {
        display: none;
    }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }
    #tablet {
        display:block;
    }
    #phone {
        display: none;
    }    
}

@media screen and (min-width: 1025px) and (max-width: 1600px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }
    #pc {
        display:block;
    }
    #phone {
        display: none;
    }
}
@media screen and (min-width: 1601px) {
    body {
        background-image: url(../imagens/back-tv.jpg);
    }
    #tv {
        display:block;
    }
    #phone {
        display: none;
    }
    
}
