@charset "UTF-8";

/* mobile first */

* {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html, body {
    width: 100vw;
    height: 100vh;
}
body {
    background: black url(../imagens/back-phone.jpg) center center no-repeat;
    background-size: cover;

}
main {
    background-color: rgba(245, 245, 245, 0.529);
    width: 90vw;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}
img {
    display: block;
    margin: auto;
}
#phone {display: block;}
#print {display: none;}
#pc {display: none;}
#tablet {display: none}
#tv {display: none}