@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: "Passion One", sans-serif;
    --fonte2: "Sriracha", cursive;
}

* {
    margin: 0%;
    padding: 0%;
}
body {
    font-family: sans-serif;
}
header {
    background-color: black;
    height: 200px;
}
header > h1 {
    font-family: var(--fonte1);
    font-weight: 700;
    font-style: normal;
    font-variant: small-caps;
    color: aliceblue;
    font-size: 3em;
    text-align: center;
    padding-top: 50px;
}
header > p {
    color: aliceblue;
    text-align: center;
}
header a {
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
}
header a:hover {
    text-decoration: underline;
}
main p{
    font-family: var(--fonte2);
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    line-height: 1.5em;
    padding: 20px;
    margin: 20px;
}
#imagem1 {
    background: black url(../imagens/background001.jpg) right center no-repeat fixed;
    background-size: cover;
    padding: 10px;
    box-shadow: inset 3px 4px 11px 5px rgba(0, 0, 0, 0.479);
}
#imagem2 {
    background: black url(../imagens/background002.jpg) right center no-repeat fixed;
    background-size: cover;
    padding: 10px;
    box-shadow: inset 3px 4px 11px 5px rgba(0, 0, 0, 0.479);
}
#imagem1 p {
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.261);
    display: inline-block;
}
#imagem2 p {
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.261);
    display: inline-block;
}
footer {
    background-color: black;
    padding: 10px;
}
footer > p {
    color: aliceblue;
    text-align: center;
    font-family: sans-serif;
}