@charset "UTF-8";

/* declarações retrato */
@media screen and (orientation:portrait) {
    body {
        background: url(../imagens/cev-portrait.jpg);
        background-position: left center;
    }
}

/* declarações paisagem */
@media screen and (orientation:landscape) {
    body {
        background: url(../imagens/cev-landscape.jpg);
        background-position: center bottom;
    }
}

/* declarações gerais */
@media all {
    * {
        margin: 0px;
        padding: 0px;
        font-family: sans-serif;
    }
    html, body {
        width: 100vw;
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
    }
    h1 {
        color: black;
        text-shadow: 3px 3px 3px rgb(0, 0, 139);
        padding: 10px;
    }
}
