@charset "UTF8";
@font-face {
    font-family: "android";
    src: url(fontes/idroid.otf) format(truetype);
}
@font-face {
    font-family: "Bebas Neue";
    src: url(fontes/BebasNeue-Regular.ttf), format(truetype);
}
:root {
    --cor1: #134127;
    --cor2: #84E1AE;
    --cor3: aliceblue;
    --cor4: #C5EBD6;
    --cor5: #3AD47F;
    --font1: "android";
    --font2: "Bebas Neue"
}
body {
    background-color: var(--cor2);
    font-family: sans-serif;
    margin: 0px;
}
header {
    background-image: linear-gradient(to bottom, var(--cor5), var(--cor1));
    padding: 10px;
    box-shadow: inset 3px 4px 11px 0px rgba(0, 0, 0, 0.479);
}
header > h1{
    font-family: var(--font2);
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
    text-align: center;
    color: var(--cor3);
}
header > p {
    text-align: center;
    color: var(--cor3);
    padding-bottom: 20px;
}
nav > a:hover {
    background-color: var(--cor2);
    color: var(--cor1);
    transition-duration: 0.5s;
}
nav > a {
    color: var(--cor2);
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}
main {
    background-color: var(--cor3);
    padding: 10px;
    box-shadow: 3px 4px 11px 0px rgba(0, 0, 0, 0.479);
    border-radius: 0px 0px 5px 5px;
    min-width: 400px;
    max-width: 800px;
    margin: auto;
}
main p {
    text-indent: 20px;
    line-height: 1.5em;
}
main a {
    color: var(--cor5);
    font-weight: bold;
    text-decoration: none;
}
main a:hover {
    color: var(--cor1);
    text-decoration: underline;
}
a.externo::after {
    content: "\0020\1F517";
}
strong {
    color: var(--cor5);
}
article > h1 {
    font-family: var(--font1);
    color: var(--cor1)
}
article > h2 {
    font-family: var(--font1);
    color: var(--cor1);
    background-image: linear-gradient(to right, rgba(0, 128, 0, 0.305), rgba(0, 128, 0, 0));
}
img {
    width: 100%;
}
img#bugdroid {
    display: block;
    max-width: 350px;
    width: 50%;
    margin: auto;
}
div#video {
    background-color: var(--cor1);
    margin: 0px -10px 0px -10px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}
div#video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside#extra {
    background-color: var(--cor4);
    box-shadow: 3px 4px 11px 0px rgba(0, 0, 0, 0.479);
    border-radius: 5px;
    margin-top: 15px;
}
aside p {
    padding: 10px;
}
aside > ul {
    columns: 2;
    list-style-type: "\2714\0020\0020";
}
#extrap {
    background-color: var(--cor1);
    color: var(--cor3);
    padding: 10px;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
}
footer {
    background-color: var(--cor1);
    margin-bottom: none;
    padding-bottom: 0px;
    box-shadow: 3px 4px 11px 0px rgba(0, 0, 0, 0.479);
}
footer > p {
    color: var(--cor3);
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 0px;
    text-align: center;
}