@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #246361;
}
main {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
}
div#imagem {
    display: grid;
    align-items: end;
    width: 400px;
    height: 800px;
    background: black url(../imagens/pexels-rsantos1232-2820153.jpg) center center no-repeat;
    background-size:cover;
    margin: auto;
    border-radius: 10px;
    
}
div#login {
    background-color: aliceblue;
    height: 300px;
    padding: 63px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
div#login h1 {
    text-align: center;
    margin-bottom: 30px;
}
div#login p {
    text-align: justify;
    margin: 10px;
}
input#usuario {
    padding: 14px;
    background-color: white;
    margin: none;
    border: none;
    border-radius: 10px;
}
input#senha {
    display: inline;
    padding: 14px;
    background-color: white;
    border: none;
    border-radius: 10px;

}
div#user {
    padding: 3px;
    margin: 5px;
    background-color: #2E426D;
    border-radius: 10px;
}
div#password {
    padding: 3px;
    margin: 5px;
    background-color: #2E426D;
    border-radius: 10px;
}